{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="txt-color-3">{% trans "Change Password" %}</h2>
    <div class="row justify-content-center">
        <div class="col">
            <form method="POST" action="{% url 'account_change_password' %}" class="txt-color-1 password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning primaryAction m-2" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="txt-color-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
