{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="txt-color-3">404 Error</h2>
<div class="d-flex justify-content-center">
<div class="col col-md-10 bkgnd-color-3 fade show w-75 text-center rounded p-1">
    <p><i class="fa-solid fa-circle-info icon-big"></i></p>
    <hr>
    <p class="alert-text position-relative top-25">The page you requested could not be found. Please return to the homepage using the link in the menu bar and try again.</p>
</div>
    
</div>
{% endblock %}