{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Find Collaborators</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Name
            </h2>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile Picture" class="profile-img">
            <h3 class="card-subtitle">
                About Me
            </h3>
            <p>
                Biog text
            </p>
            <h3 class="card-subtitle">
                Genres I'm interested in
            </h3>
            <p>
                Genres text
            </p>
            <h3 class="card-subtitle">
                Instruments and skills
            </h3>
            <p>
                Instruments and skills text
            </p>
        </div>
    </div>
</div>

{% endblock %}