{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Update Profile</h1>

    <div class="row">
         <!-- Form for updating user profile -->
        <form action="update-profile/" method="post" id="profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form form.helper %}
        </form>
    </div>

    <h1>Account Details</h1>
        <div class="row">
            <!-- Form for account deletion -->
            <form action="user-delete/" method="post" id="user-delete">
                {% csrf_token %}
                <button type="button" class="btn btn-danger btn-risk" aria-label="Delete my account" data-bs-toggle="modal" data-bs-target="#modal-confirm-del">Delete my account</button>
            </form>
        </div>


    <!-- Modal to confirm account deletion -->
    <div class="modal" id="modal-confirm-del" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" aria-label="Confirm deletion"" data-bs-dismiss="modal" form="user-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}